*,
*::after,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

aside {
  flex-shrink: 0;
  flex-direction: column;
}

header {
  padding: 0.75rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

header > i {
  /* padding-block: 0.5rem; */
}

header > h1 {
  font-size: inherit;
  /* display: none; */
}

nav {
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 1;
}

nav > * {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle > li,
.bottom > li {
  padding-left: 0.25rem;
  list-style-type: none;
  align-items: center;
}

.middle i,
.bottom i {
  width: 1rem;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: hidden;
}

.content-header > div {
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
}

.container {
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.search-and-filter {
  padding: 0 1rem 1rem;
  flex-wrap: wrap;
}

.bar {
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  min-width: 12rem;
  width: 25%;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  text-transform: capitalize;
}

.card {
  min-width: 8rem;
  width: calc(33% - 0.5rem);
  aspect-ratio: 1.25;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.mob > * {
  background-color: #fff;
}

.mob > :last-child {
  bottom: 2rem;
  right: 2rem;
}

@media only screen and (max-width: 600px) {
  aside {
    height: 30vh;
  }

  header {
    top: 0;
    height: 30vh;
    z-index: -100;
  }

  nav {
    bottom: 1rem;
    left: 0;
  }

  nav > * {
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    flex-direction: row;
  }

  main {
    overflow-y: visible;
    padding-bottom: 6rem;
    background-color: #fff;
  }

  .content-header {
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  .search-and-filter {
    left: 1rem;
    width: calc(100vw - 2rem);
    bottom: 5rem;
    padding: 0 1.5rem;
    border-radius: 1rem 1rem 0 0;
    bottom: calc(5.5rem - 1px);
    background-color: #fff;
  }

  section {
    flex-direction: column;
  }

  .card {
    width: 100%;
    aspect-ratio: 1;
  }

  .bar {
    padding: 1rem 0;
    border-radius: 0;
    border-bottom: 1px solid black;
  }

  .mob-hidden {
    display: none !important;
  }
}

/*
.nav-area > * {
  background-color: #fff;
  padding-inline: 1rem;
}

.menu-bar > *,
.nav-pop-up > *,
.nav-btns {
  width: 100%;
  outline: none;
  border: none;
  padding-block: 1rem;
  font-family: inherit;
  font-size: inherit;
  text-transform: capitalize;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-bar > * {
  font-size: 1.5rem;
  gap: 1rem;
}

.nav-menu > * {
  border-radius: 0.5rem;
}

.nav-btns {
  display: flex;
  font-size: 1.5rem;
}

.nav-btns #to-top {
  display: none;
}

.nav-pop-up > * {
  border-bottom: 1px solid #aaa;
}

.filter-pop > .fa-chevron-up {
  transform-origin: 50% 60%;
  transition: transform 0.2s;
  padding-inline: 0.25rem;
}

.mob-nav {
  display: none;
}

.on {
  display: flex;
}

.flip {
  transform: rotateZ(180deg);
}

.icon {
  background-color: gray;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1;
}
*/
